
body{
  justify-content: center;
align-items: center;
height:100vh;
display: flex;
}

.digit{
 width:80px;
 cursor: pointer;
  padding-top: 25px;
  padding-bottom:25px;
  background-color: #58595B;
  color: white;
  text-align:center;
  margin: 5px;
  align-self: baseline;
  border-radius:10px; 
  
  /* font-size: 30px; */
}

.calc-con{
  /* width:600px; */
  width: 385px;
  display:flex;
  flex-wrap: wrap;
  /* height: 440px; */
  background-color:#39383D;
  justify-content: center;
  align-content: center;
  padding-bottom: 17px;
  padding-top: 18px;
  border-radius:10px; 
  

  
}

#clear{
  width:170px;
}

#zero{
    margin-top: -77px;
width:170px;
margin-left: -85px;
}

#equals{
  height:103px;
  background-color: #F15A2B;
  display: flex;
  justify-content: center;
  align-items: center;

}

#add,#subtract,#divide,#clear,#multiply{
background-color: #130F10;
}

#decimal{
      margin-top: -77px;
}

#display{
display:block;
width:100%;
padding-bottom: 15px;




}

.display-digits{
background-color: #A2AF77;
padding-left:16px;
font-size:30px;
width:87%;
margin:0 auto;
border-radius:10px;
padding: 8px 8px;
}


button{
  cursor: pointer;
}

#display{
  min-height:60px;
}

.history{
  font-size: 18px;
  padding-bottom: 20px;
}